@media (max-width: 600px) {
  .products{
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main-section{
    padding: 4%;
  }
  .like{
    display: inherit;
  }
  .redes_sociales, .image_redes_sociales{
    display: inherit;
  }
}
